# --- PYTHON ---
__pycache__/
*.py[cod]
*.pyc

# --- AMBIENTE VIRTUAL ---
env/
venv/
.venv/

# --- SEGURANÇA  ---
.env
.streamlit/secrets.toml

# --- DADOS LOCAIS ---
*.db
*.sqlite3

# --- LOGS E DEPURAÇÃO ---
*.log
geckodriver.log
chromedriver.log

# --- EDITOR DE CÓDIGO ---
.vscode/

# --- SISTEMA OPERACIONAL (Windows/Mac) ---
.DS_Store
Thumbs.db